# docker-compose.yaml
# -----------------------------------------------------------------------------

# Networking configuration
# MOCKBOOK_HOST=127.0.0.1
# MOCKBOOK_PORT=8000
# JUPYTERLAB_HOST=127.0.0.1
# JUPYTERLAB_PORT=8888
# NGINX_HOST=127.0.0.1
# NGINX_PORT=80

# Development
# -----------------------------------------------------------------------------

# Mockbook
# MOCKBOOK_ARGS='--log-level debug'
# MOCKBOOK_AUTORELOAD_DISABLED=1

# JupyterLab
# JUPYTERLAB_ARGS="--NotebookApp.token='$up3r5ecret'"
# JUPYTERLAB_DISABLED=1

# NGINX
# NGINX_ARGS='-e /app/mockbook/nginx.log'
# NGINX_DISABLED=1
# NGINX_RELOADER_DISABLED=1
