# test/docker-compose.yaml
# -----------------------------------------------------------------------------
# NGINX_HOST=
# NGINX_PORT=
# MOCKBOOK_HOST=
# MOCKBOOK_PORT=
# JUPYTERLAB_HOST=
# JUPYTERLAB_PORT=

# Development
# -----------------------------------------------------------------------------
# Mockbook
# MOCKBOOK_ARGS=
# MOCKBOOK_AUTORELOAD_DISABLED=

# JupyterLab
# JUPYTERLAB_ARGS=
# JUPYTERLAB_DISABLED=

# NGINX
# NGINX_ARGS=
# NGINX_DISABLED=
# NGINX_RELOADER_DISABLED=
